{% extends 'base.html.twig' %}

{% block title %}Joomla! {{ version.display_name }} {{ version.version }} Dashboard | {{ parent() }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Joomla! {{ version.display_name }} API Documentation</h1>
    </div>
    <p class="lead">This section provides the API reference for the Joomla! {{ version.display_name }} {{ version.version }} branch.</p>
    <div class="row-fluid">
        <main class="span9">
            <ul class="nav nav-list">
                <li class="nav-header">View Class Listing</li>
                {% for namespace in namespaces %}
                    {% if namespace == 'global' %}
                        <li><a href="{{ route(version.software ~ '/' ~ version.version ~ '/classes') }}">Global Namespace</a></li>
                    {% else %}
                        <li><a href="{{ route(version.software ~ '/' ~ version.version ~ '/namespace/' ~ namespace|routed_namespace) }}">{{ namespace }} Namespace</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </main>
        <aside class="span3">
            <div class="well">
                <ul class="nav nav-list">
                    <li class="nav-header">API Statistics</li>
                    <li><span class="label label-info">{{ deprecation_count }}</span> Deprecated Elements</li>
                    <li><span class="label label-info">{{ class_count }}</span> Classes</li>
                    <li><span class="label label-info">{{ interface_count }}</span> Interfaces</li>
                    <li><span class="label label-info">{{ function_count }}</span> Functions</li>
                </ul>
            </div>
        </aside>
    </div>
{% endblock %}
